<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ERRO 500 - Problema na requisição</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <script>
        //window.setTimeout(location.href='/',5000);
    </script> 
</head>
<body>
    <h2>O servidor não conseguiu concluir sua requisição, tente novamente!</h2>
</body>
</html>